on:
  schedule:
    - cron: "30 8 * * */6"
  workflow_dispatch:



jobs:
  check_new_version:
    runs-on: ubuntu-latest
    container: fedora:40
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          sudo dnf install -y rpmdevtools
          python -m pip install --upgrade requests
      - name: Check new version
        run: python3 check_new_version.py